
body {
    font-family: 'Unbounded', sans-serif;

}

html{
    box-sizing:border-box;
}
*,*::before , *::after {
    box-sizing:inherit;
}
.item {
    width:200px;
    height:100px;
    background-color:green;
    padding:20px;

}

.wrapper {
    width:1700px;
    margin: 0 auto;



}


.header{
    width:100%;



}
.header_wrapper {
     position:relative;
    display:flex;
    flex-wrap:wrap;
    aline-items:flex-end;
    justify-content:space-between;
    padding-top:78px;
    z-index:10;


}
.header_logo-link{
    position:relative;
    top:25px;


    z-index:10;
}


.header_list{
    margin-top:28px;
    margin-left:100px;
    display:flex;
    flex-wrap:wrap;

}
.header_item{
    margin-right:102px;
}
.header_item:last-child{
    margin-right:0;
}

.header_link{
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
    text-decoration:none;



}

.header_link:hover,.header_link:focus,.header_link:active{
    opacity:.75;

}

.header-nav{
    margin-left:1053;
    width: 725px;
    height: 100px;
    border-radius: 70px;
    background: #242424;



}

.intro {
    height:1080px;
    background: #111 no-repeat center;
    background-size:cover;
    border-radius: 0px 0px 70px 70px;
}
.container{
    background: #111;
    border-radius: 0px 0px 70px 70px;

}

.img-con{
    position:relative;
    top:-100px;
    left:-50px;
    width:1730px;


}
.img_atr{
    right:300px;
}

.content{
   position:relative;
    flex-shrink: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    left:980px;
    top:-13px;
    top:-980px;
    color:rgb(234,181,209,1);


.content-h2{
    position:relative;
    left:1000px;
}