
body {
    overflow-x:hidden;
    font-family: 'Unbounded', sans-serif;
}
body::-webkit-scrollbar {
  width: 10px; /* Ширина всего элемента навигации */
}
body::-webkit-scrollbar-track {
  background:#eff0e4; /* Цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: black; /* Цвет бегунка */
  border-radius: 70px;
}
html{

    box-sizing:border-box;
}
*,*::before , *::after {
    box-sizing:inherit;
}
.item {
    width:200px;
    height:100px;
    background-color:green;
    padding:20px;

}
.wrapper {
    width:1700px;
    margin: 0 auto;
}
.header{
    width:100%;
}
.header_wrapper {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    aline-items:flex-end;
    justify-content:space-between;
    padding-top:78px;
    z-index:10;
}
.header_logo-link{
    position:relative;
    top:25px;
    z-index:10;
}
.header_list{
    margin-top:28px;
    margin-left:100px;
    display:flex;
    flex-wrap:wrap;

}
.header_item{
    margin-right:102px;
}

.header_item1{
    margin-left:531px;
    margin-top:-60px;
}
.header_item:last-child{
    margin-right:0;
}
.header_link{
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
    text-decoration:none;
}
.header_link:hover,.header_link:focus,.header_link:active{
    opacity:.75;

}
.header_logo:hover,.header_logo:focus,.header_logo:active{
    opacity:.93;
}
.header-nav{
    margin-left:1053;
    width: 725px;
    height: 100px;
    border-radius: 70px;
    background: #242424;
}
.intro {
    height:1080px;
    background: #111 no-repeat center;
    background-size:cover;
    border-radius: 0px 0px 70px 70px;
}
.container{
    height:1080px;
    background: #111;
    border-radius: 0px 0px 70px 70px;
}
.img-con{
    position:relative;
    top:-100px;
    left:-50px;
    width:1730px;
}
.img_atr{
    right:300px;
}
.content{
   position:relative;
    flex-shrink: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    left:980px;
    top:-13px;
    top:-980px;
    background:linear-gradient(65deg, #EAB5D1 51.59%, #EAC461 86.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content-p{
    position:relative;
    width: 725px;
    height: 100px;
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    top:-13px;
    top:-860px;
    left:980px;
    right:-50px;
}
.img-Rectangle{
    position:relative;
    width: 480px;
    height: 107px;
    left:1047px;
    top:-810px;
}
.img-Rectangle:hover,.img-Rectangle:focus,.img-Rectangle:active{
    opacity:.94;
}
.content-big{
    position:relative;
    width: 1936px;
    height: 243px;
    color: #FFF;
    font-size: 190px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top:-750px;
    left:-54px;
}
/*.cont{
    position:relative;
    width: 295px;
    height: 76px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight:  600;
    line-height: normal;
    margin-top:-600px;
    margin-left:-40px;
}
*/


.cont{
    width:1700px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight:  600;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:-36px;
    margin-top:37px;
}
.p-cont-0{
    margin-left:-300px;
}
.p-cont-1{
    position:relative;
    left:-180px;
}
.content-continue{
    width:1700px;
    color: rgb(0, 0, 0, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:220px;
    margin-top:-91px;
}
.par-cont{
    margin-left:21px;
}
.par-cont-0{
    margin-left:-370px;
}
.par-cont-1{
    position:relative;
    right:199px;
}


